[submodule "chamberlain"]
	path = chamberlain
	url = https://github.com/sovereign-app/chamberlain.git
[submodule "nws"]
	path = nws
	url = https://github.com/asmogo/nws
[submodule "frp"]
	path = frp
	url = https://github.com/fatedier/frp.git
